.dropDown_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}
.dropDown_title_open {
    background-color: white;
}
.dropDown_title:hover {
    cursor: pointer;
}

.filter_box {
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid rgb(237, 242, 247);
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.filter_box_ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-bottom: 5px;
}
.filter_box_ul:hover {
    cursor: pointer;
}
.filter_box_ul li {
    padding-left: 10px;
}
.filter_box_ul li:hover {
    background-color: rgb(237, 242, 247);
}
.arrow_box {
}
.arrow_up {
    width: 10px;
    height: 10px;
    transform: rotate(90deg);
}
.arrow_down {
    width: 10px;
    height: 10px;
    transform: rotate(-90deg);

}