$base: 4px;
$transition: .2s;
/* Fonts */
$fs-xs: 14px;
$fs-sm: 16px;
$fs-md: 20px;
$fs-lg: 25px;
$fs-xl: 35px;


$fw-light: 300;
$fw-regular: 400;
$fw-bold: 600;


/* /Fonts */

/* Colors */
$color_text__primary: #4a5667;
$color_text__secondary: #4a5695;
$color_text__hover: #2d5580;


$color_bgc__secondary: #edf2f7;
$color_bgc__primary: #2d5580;



/* /Colors */


/* Layouts */
/* /Layouts */