.image {
    width: 100%;
    height: 280px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card_wrap {
    margin-right: auto;
    margin-left: auto;

    width: 30%;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 25px;
    border-radius: 5px;
}
.description_wrap {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.description_wrap h1{
    font-size: 20px;
}
.hashTag_wrap {
    display: flex;
    justify-content: flex-start;
}

.hashTag {
    padding: 8px;
    font-size: 14px;
    color: rgb(74,86,149);
    background-color: rgb(237,242,247);
    border-radius: 20px;
    margin-right: 10px;
}
.navLink {
    text-decoration: none;
    color: black;
}
.description_content {
    color: rgb(74, 86, 103);
}